* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css custom variables */
:root {
  /* primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan-graphic-design-text: hsl(167, 40%, 24%);
  --darkBlue-photography-text: hsl(198, 62%, 26%);
  --darkModerateCyan-footer: hsl(168, 34%, 65%);

  /* neutral */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* font */
  --fontSize: 18px;
  --fontFamily-fraunces: "Fraunces", serif;
  --fontFamily-barlow: "Barlow", sans-serif;
  --fontWeight-fraunces-bold: 700;
  --fontWeight-fraunces-black: 900;
  --fontWeight-barlow-semibold: 600;
}

body {
  font-size: var(--fontSize);
  /* background-color: black; */
}

p {
  font-family: var(--fontFamily-barlow);
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: var(--fontWeight-barlow-semibold);
}

#header-showcase {
  background: url("/images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  position: relative;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.logo,
.icon-hamburger {
  cursor: pointer;
}

.creativesText-showcase {
  font-family: var(--fontFamily-fraunces);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  letter-spacing: 6px;
  padding-top: 4rem;
}

.arrow-down-container {
  text-align: center;
  margin-top: 4rem;
}

.arrow-down-img {
  width: 30px;
}

/* MAIN SECTION... */

#main {
  margin: 0;
  padding: 0;
}

.brand-main-img,
.stand-out-main-img,
.graphic-main-img,
.photography-main-img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.brand-text-container,
.stand-out-text-container {
  object-fit: cover;
  text-align: center;
  position: relative;

  width: 100%;
  height: 400px;
}

.brand-main-text,
.stand-out-main-text {
  width: 100%;
  height: 100%;
  padding: 0 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

.brand-main-text h2,
.stand-out-main-text h2 {
  font-family: var(--fontFamily-fraunces);
  font-size: 1.85rem;
  color: var(--veryDarkDesaturatedBlue);
}

.brand-main-text p,
.stand-out-main-text p {
  color: var(--darkGrayishBlue);
  font-size: 14px;
}

.brand-main-text a,
.stand-out-main-text a {
  text-transform: uppercase;
  font-family: var(--fontFamily-fraunces);
  font-weight: var(--fontWeight-fraunces-black);
  font-size: 14px;
  color: var(--veryDarkDesaturatedBlue);
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  z-index: 100;
}

.learnMore-line {
  width: 125px;
  height: 9px;
  border-radius: 20px;
  z-index: 0;
  opacity: 30%;

  position: relative;
  top: -8px;
  left: -1px;
}

.learnMore-container:hover .yellow-line,
.learnMore-container:hover .red-line {
  opacity: 100%;
}

.yellow-line {
  background-color: hsl(51, 100%, 49%);
  bottom: 25.5%;
}

.red-line {
  background-color: hsl(7, 99%, 70%);
}

/* SECTION 3 */

.image-overlay-container {
  position: relative;
}

.overlayText {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 130px;
  max-width: 500px;
  text-align: center;
}

.overlayText h2 {
  text-transform: capitalize;
  font-family: var(--fontFamily-fraunces);
  font-size: 1.85rem;
  font-weight: var(--fontWeight-fraunces-black);
  color: var(--darkDesaturatedCyan-graphic-design-text);
  margin-bottom: 1rem;
}

.overlayText p {
  padding: 0 2rem;
  color: var(--darkDesaturatedCyan-graphic-design-text);
  font-size: 14px;
}

@media (max-width: 270px) {
  .overlayText {
    transform: translate(-50%, -25%);
  }

  .overlayText h2 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .overlayText p {
    font-size: 10px;
  }
}

/* CLIENT TESTIMONIALS */

.client-testimonials {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.clients-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.client-testimonials h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fontFamily-fraunces);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-fraunces-black);
  letter-spacing: 0.12rem;
  color: var(--darkGrayishBlue);
  padding: 3rem;
}

.testimonials-container img {
  width: 80px;
  border-radius: 100%;
}

.testimonials-text {
  font-family: var(--fontFamily-barlow);
  font-weight: var(--fontWeight-barlow-semibold);
  color: var(--darkGrayishBlue);
  font-size: 0.9rem;
  padding: 0 2rem;
  line-height: 1.5rem;
}

.client-testimonials-personal-details {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}

.client-testimonials-name {
  font-family: var(--fontFamily-fraunces);
  font-weight: var(--fontWeight-fraunces-black);
  font-size: var(--fontSize);
}

.client-testimonials-role {
  font-family: var(--fontFamily-barlow);
  font-size: 16px;
  color: var(--darkGrayishBlue);
}

/* IMAGE GALLERY SECTION */

.image-gallery-container {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.image-gallery-container img {
  display: block;
  width: 100%;
  height: auto;
}

/* .demo-watermark {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  z-index: 9999;
} */

/* FOOTER SECTION */

footer {
  background-color: var(--darkModerateCyan-footer);
}

footer h1 {
  width: 100%;
  padding: 1rem 0;
  padding-top: 3rem;
  color: var(--darkDesaturatedCyan-graphic-design-text);
  text-align: center;
  font-family: var(--fontFamily-fraunces);
  font-weight: var(--fontWeight-fraunces-black);
  font-size: 2rem;
}

.footer_nav {
  width: 100%;
  padding: 0.5rem;
}

.footer_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 0.45rem;
}

.footer_nav ul li {
  list-style-type: none;
}

.footer_nav ul li a {
  text-decoration: none;
  font-family: var(--fontFamily-barlow);
  font-weight: var(--fontWeight-barlow-semibold);
  font-size: 12px;
  color: var(--darkDesaturatedCyan-graphic-design-text);
  padding: 0.25rem;
}

.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0;
}

.footer__icons li {
  list-style-type: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* desktop nav */
.nav-ul {
  display: none;
}

/* 

MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px
MEDIA QUERY 600px

*/

@media (min-width: 600px) {
  /* HEADER SECTION */
  .icon-hamburger {
    display: none;
  }

  /* desktop nav */
  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-family: var(--fontFamily-fraunces);
    font-weight: var(--fontWeight-fraunces-bold);
    font-size: 14px;
    padding: 0.25rem 0;
  }

  .nav-li {
    list-style-type: none;
    padding: 0.15rem;
  }

  .nav-li:nth-child(4) {
    background-color: var(--white);
    padding: 0.75rem 1rem;
    border-radius: 50px;
    text-transform: uppercase;
  }

  .nav-li a {
    text-decoration: none;
    color: var(--white);
    letter-spacing: 0.5px;
  }

  .nav-li:nth-child(4) a {
    color: var(--veryDarkDesaturatedBlue);
  }

  /* end of desktop nav */

  /* MAIN SECTION */

  .transform-brand-section,
  .stand-out-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .transform-brand-img-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: -1;
  }

  .brand-text-container,
  .stand-out-text-container {
    height: auto;
  }

  .brand-main-text,
  .stand-out-main-text {
    gap: 1.25rem;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .transform-brand-section .brand-main-text {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .brand-main-text h2,
  .stand-out-main-text h2 {
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
  }

  .brand-main-text p,
  .stand-out-main-text p {
    text-align: left;
    font-size: 12px;
  }

  .brand-main-text a,
  .stand-out-main-text a {
    text-transform: uppercase;
    font-family: var(--fontFamily-fraunces);
    font-weight: var(--fontWeight-fraunces-black);
    font-size: 14px;
    color: var(--veryDarkDesaturatedBlue);
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    z-index: 100;
    text-align: left;
  }

  .learnMore-container {
    width: 100%;
    text-align: left;
  }

  .learnMore-line {
    left: -7.45px;
  }

  /* --- SECTION 3 ---  */
  .design-brand-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image-overlay-container {
    position: relative;
  }

  .overlayText {
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .overlayText h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    width: fit-content;
  }

  .overlayText p {
    font-size: 12px;
    padding: 0 3rem;
  }

  /* IMAGE GALLERY */
  .image-gallery-container {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .image-gallery-container img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 
MEDIA QUERY 800px 

*/
@media (min-width: 800px) {
  /* DESKTOP NAV */
  .nav-ul {
    font-size: 16px;
  }

  /* MAIN SECTION */

  .brand-main-text h2,
  .stand-out-main-text h2 {
    font-size: 2rem;
  }

  .brand-main-text p,
  .stand-out-main-text p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  /* SECTION 3 800px */
  .overlayText h2 {
    font-size: 2rem;
  }

  .overlayText p {
    font-size: 14px;
    padding: 0 4rem;
  }

  /* CLIENT TESTIMONIALS */

  .client-testimonials {
    padding: 1.5rem 0;
  }

  .client-testimonials h1 {
    letter-spacing: 0.5rem;
  }

  .clients-container {
    flex-direction: row;
  }

  .client-testimonies {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }
}

/* ...MEDIA QUERY END... */
