* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css custom variables */
:root {
  /* primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan-graphic-design-text: hsl(167, 40%, 24%);
  --darkBlue-photography-text: hsl(198, 62%, 26%);
  --darkModerateCyan-footer: hsl(168, 34%, 41%);

  /* neutral */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* font */
  --fontSize: 18px;
  --fontFamily-fraunces: "Fraunces", serif;
  --fontFamily-barlow: "Barlow", sans-serif;
  --fontWeight-fraunces-bold: 700;
  --fontWeight-fraunces-black: 900;
  --fontWeight-barlow-semibold: 600;
}

body {
  font-size: var(--fontSize);
}

#header-showcase {
  background: url("/images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;

  position: relative;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.creativesText-showcase {
  font-family: var(--fontFamily-fraunces);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  letter-spacing: 6px;
  padding-top: 4rem;
}

.arrow-down-container {
  text-align: center;
  margin-top: 4rem;
}

.arrow-down-img {
  width: 30px;
}

#main {
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

.main-section {
  /* border: 4px solid green; */
}

.main-text {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.main-text h2 {
  font-family: var(--fontFamily-fraunces);
  font-size: 1.85rem;
  color: var(--veryDarkDesaturatedBlue);
  padding: 0 2.25rem;
}

.main-text p {
  font-family: var(--fontFamily-barlow);
  padding: 0 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--darkGrayishBlue);
  font-weight: var(--fontWeight-barlow-semibold);
}

.main-text a {
  text-transform: uppercase;
  font-family: var(--fontFamily-fraunces);
  font-weight: var(--fontWeight-fraunces-black);
  font-size: 14px;
  color: var(--veryDarkDesaturatedBlue);
  letter-spacing: 1px;
  text-decoration: none;
}

.main-img {
  width: 100%;
}

/* CLIENT TESTIMONIALS */

.client-testimonials {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;

  /* border: 2px solid red; */
}

.clients-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.client-testimonials h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--fontFamily-fraunces);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-fraunces-black);
  letter-spacing: 0.12rem;
  color: var(--darkGrayishBlue);
  padding: 3rem;
}

.testimonials-container img {
  width: 80px;
  border-radius: 100%;
}

.testimonials-text {
  font-family: var(--fontFamily-barlow);
  font-weight: var(--fontWeight-barlow-semibold);
  color: var(--darkGrayishBlue);
  font-size: 0.9rem;
  padding: 0 2rem;
  line-height: 1.5rem;
}

.client-testimonials-personal-details {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}

.client-testimonials-name {
  font-family: var(--fontFamily-fraunces);
  font-weight: var(--fontWeight-fraunces-black);
  font-size: var(--fontSize);
}

.client-testimonials-role {
  font-family: var(--fontFamily-barlow);
  font-size: 16px;
  color: var(--darkGrayishBlue);
}
